<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/OrderTrackerMain.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-default navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Post Order Tracker</a>
        </nav>


        <div class="starter-template">
            <div class="row justify-content-md-center">
                {% block body %}{% endblock %}
            </div>
        </div> <!-- /.container -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
